.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    p {
        font-size: 1.3rem;
        padding: .5rem 0 2rem;
    }

    button 
    {
        background: #fff;
        border-radius: 6px;
        color: #222;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 1rem 2rem;
        text-decoration: none;
    border: none;
    }
}