nav {
    width: 95%;
    height: 80px;
    left: 50%;
    top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    border-radius: 13px;
    background-color: #fff;
    color: #222;

    box-shadow: 0 15px 5px 0 rgba(0, 0, 0, .25);
    transform: translate(-50%);

    .leftSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            transition: all .2s ease-in-out;
            border-radius: 4px;

            li {
                list-style: none;
                font-size: 1.2rem;
                font-weight: 600;
                padding: .7rem 1rem;

                &:hover {
                    background-color: #01959a;
                    color: #fff;
                }
            }
        }

        button {
            border: none;
            border-radius: .3rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            padding: .5rem 1rem;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: #222;
                color: #fff;
            }
        }
    }

}